body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#slider {
	width: 90%;
	margin: auto;
	/*outline: 5px solid red;*/
	overflow: hidden;
	img {
		width: 100%;
		display: block;
		margin-bottom: 1em;
	}
	section {
		float: left;
	}
}

.slider-inner {
	display: table;
	position: relative;
	transition: all .3s;
	left: 0; /*Si no esta informado de inicio, el primer next no muestra transición*/
}

.slider-nav {
	text-align: center;
	button {
		margin: .5em;
		font-size: 1.2em;
	}
}